<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    
</head>
<body>
    <div class="container-fluid pl-5 pr-5" id="app">
        <div class="row">
            <div class="col-6 bg-danger p-5 text-light"> 
                <h1>ПОКУПАЕМ</h1>
                <br>
                <h3>1 WMR - {{buy.wmr}} руб</h3>
                <h3>1 WMZ - {{buy.wmz}} руб</h3>
                <br>
                <label >Вы отдадите</label>
                <div class="container row">
                    <input value="" @change="change_buy" @keypress="isNumberKey" class="form-control col-6" id="input-buy" />
                    <div class="col-4 offset-1">
                        <select id="select-buy" @change="change_buy" class="form-control">
                            <option value="0" selected disabled>Select</option>
                            <option v-for="cp in cps" :value="cp.buy_value">{{cp.text}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <label >Вы получите</label>
                <div class="container row">
                    <label class="form-control col-6" id="input-buy-cnt"></label>
                    <label class="col-4 offset-1">рублей</label>
                </div>
            </div>
            <div class="col-6 bg-info p-5 text-light">
                <h1>ПРОДАЁМ</h1>
                <br>
                <h3>1 WMR - {{sell.wmr}} руб</h3>
                <h3>1 WMZ - {{sell.wmz}} руб</h3>
                <br>
                <label >Вы отдадите</label>
                <div class="container row">
                    <input value="" @change="change_sell" @keypress="isNumberKey" class="form-control col-6" id="input-sell" />
                    <label class="col-4 offset-1">рублей</label>
                </div>
                <br>
                <label >Вы получите</label>
                <div class="container row">
                    <label class="form-control col-6" id="input-sell-cnt"></label>
                    <div class="col-4 offset-1">
                        <select id="select-sell" @change="change_sell" class="form-control">
                            <option value="0" selected disabled>Select</option>
                            <option v-for="cp in cps" :value="cp.sell_value">{{cp.text}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>